{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Content -->
<div class="container px-4 px-lg-5">
    <!-- Heading Row -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                src="{% static '\images\rainbow-heart.jpg' %}"
                alt="Hand holding a rainbow coloured wooden heart against a blue sky.">
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Inclusive Spots</h1>
            <p>Inclusive Spots aims to be the leading global resource for the LGBTQIA+ community, providing trusted,
                up-to-date information on safe spaces where every individual can feel accepted, respected, and
                celebrated. We envision a world where LGBTQIA+ individuals can freely explore and engage with their
                communities without fear, knowing there is access to safe, inclusive, and supportive environments.</p>
            <a class="btn btn-primary" href="#!">Explore venues</a>
        </div>
    </div>

    <!-- Call to Action -->
    <div class="card text-white bg-custom my-5 py-4 text-center">
        <div class="card-body">
            <p class="custom-text m-0">Find Your Safe Haven</p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-mug-hot"></i> Cafés</h2>
                    <p class="card-text">Discover a vibrant selection of LGBTQIA+ friendly cafes, each offering a unique
                        and inclusive atmosphere for all. If you're searching for a cozy spot to read a book, a lively place to meet friends, or a safe
                        space to express yourself, there is something for everyone to enjoy.</p>
                </div>
                <div class="card-footer custom-footer">
                    <a class="btn btn-primary btn-sm" href="#!">More Info</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-champagne-glasses"></i> Bars &amp; Clubs</h2>
                    <p class="card-text">Explore the vibrant nightlife of London with our selection of LGBTQIA+ friendly
                        bars and clubs. These venues are not just places to enjoy a drink or dance the night away—they
                        are community hubs where diversity is celebrated and everyone is welcome.</p>
                </div>
                <div class="card-footer custom-footer">
                    <a class="btn btn-primary btn-sm" href="#!">More Info</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-handshake-simple"></i> Support Centers</h2>
                    <p class="card-text">LGBTQIA+ support services offer vital resources and safe spaces for individuals
                        seeking assistance, community, and empowerment. These organizations are dedicated to providing
                        compassionate and professional support tailored to the unique needs of the community.</p>
                </div>
                <div class="card-footer custom-footer">
                    <a class="btn btn-primary btn-sm" href="#!">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}