{% extends 'base.html' %} 

{% block content %} 

{% load crispy_forms_tags %} 

{% block extra_head %}
<!-- EmailJS 
 https://www.emailjs.com/docs/sdk/installation/ -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script type="text/javascript">
  (function () {
    emailjs.init({
      publicKey: "Y8US0osIasAsRJmPL",
    });
  })();
</script>
{% endblock %}

<div class="container mt-3 min-vh-100">
  <div class="about-us">
    <div
      class="container py-5 d-flex justify-content-center align-items-center"
    >
      <div>
        <h1 class="fw-bold text-white">CONTACT US</h1>
      </div>
    </div>
  </div>
  <div class="text-center mt-2 p-4 pb-0 h3 rfs-11 fw-light">
    <p class="lh-m">
      Have a question, a suggestion, or just want to say hello?
    </p>
    <p class="lh-m">Feel free to reach out to us.</p>
  </div>
  <div class="container px-5 mx-2 mb-5">
    <form method="POST" class="rounded" id="contact-us">
      {% csrf_token %} {{ form | crispy }}
      <button
        type="submit"
        value="Save"
        class="btn btn-primary mt-2"
        aria-label="Save"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<!-- EmailJS -->
<script type="text/javascript">
  window.onload = function () {
    document
      .getElementById("contact-us")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const form = this;
        emailjs.sendForm("service_b7q74bd", "template_nujvqte", this).then(
          () => {
            form.submit();
          },
          (error) => {
            console.log("FAILED:", error);
          }
        );
      });
  };
</script> 

{% endblock %}
