@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Defining Global CSS Variables */
:root {
  --primary-color: #6E2170; /* Finn */ 
  --secondary-color: #01556b; /* Midnight Green */ 
  --accent-color: #E09101; /* Harvest Gold */
  --background-color: #E5E5E5; /* Platinum */
  --dark-text: #050505; /* Black */
  --light-text: #E5E5E5; /* Platinum */
  --heading-color: #050505; /* Black */
  --button-hover: #355FAA; /* Denim */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --accent-font: "Kalnia Glaze";
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    font-weight: 500;
}

.font-weight-light {
  color: var(--primary-color);
}

p {
    color: var(--dark-text);
}

h2.card-title {
  color: var(--primary-color);
}

.custom-navbar {
  background-color: #6E2170;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: var(--light-text);
    text-decoration: none;
    font-weight: bolder;
}

.custom-navbar .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 0.27em;
    text-decoration-thickness: 0.2em;
    font-weight: bolder;
}

a.nav-link:hover {
    text-decoration-color: var(--accent-color);
    color: var(--light-text);
}

a.btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

a.btn:hover {
  background-color: var(--button-hover);
}

/* Style the Font Awesome hamburger icon */
.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler i {
    color: var(--light-text);
    font-size: 1.5em;
}

/* Override Bootstrap focus state box-shadow */
button.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--light-text);
}

div.bg-custom {
  background: #ffffff url("../images/rainbow-watercolour.png") fixed;
  background-size: cover;
}

div.card.text-white {
  align-items: center;
  color: var(--dark-text);
}

.custom-text {
    color: var(--dark-text);
    font-weight: 700;
    font-size: 90%;
    letter-spacing: 0.3em;
    border-radius: 0.25rem;
}

div.card-footer.custom-footer {
  background-image: linear-gradient(140deg, #fcf6e6 0%, #06968578 15%, #6e2170c4 60%, #e09101bd 80%, #db1304eb 100%);
}

/* Media queries */
@media (min-width: 1200px) {
  .h2, h2 {
    font-size: 1.7rem;
  }
}