@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Defining Global CSS Variables */
:root {
  --primary-color: #6E2170;
  /* Finn */
  --secondary-color: #01556b;
  /* Midnight Green */
  --accent-color: #E09101;
  /* Harvest Gold */
  --background-color: #E5E5E5;
  /* Platinum */
  --dark-text: #050505;
  /* Black */
  --light-text: #E5E5E5;
  /* Platinum */
  --heading-color: #050505;
  /* Black */
  --button-hover: #355FAA;
  /* Denim */
  --navigation: #6010a6;
  /* Grape */

  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;
  padding-top: 26px;
  background: var(--background-color);
  background-image: linear-gradient(56deg, rgba(255, 255, 255, 0.17288814841498557) 0%, rgba(126, 170, 212, 0.17000630403458217) 10%, rgba(127, 214, 255, 0.17000630403458217) 26%, rgba(208, 170, 253, 0.16712445965417866) 42%, rgba(228, 140, 237, 0.16712445965417866) 55%, rgba(236, 126, 196, 0.16712445965417866) 69%, rgba(255, 168, 0, 0.16712445965417866) 92%, rgba(255, 0, 0, 0.16712445965417866) 100%),
    url("../images/wavy-background.jpg");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ff0000", GradientType=1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  font-weight: 500;
}

.font-weight-light {
  color: var(--primary-color);
}

p {
  color: var(--dark-text);
}

h2.card-title {
  color: var(--primary-color);
}

.custom-navbar {
  background-color: var(--navigation);
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: var(--light-text);
  text-decoration: none;
  font-weight: bolder;
}

.custom-navbar .nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.27em;
  text-decoration-thickness: 0.2em;
  font-weight: bolder;
}

a.nav-link:hover {
  text-decoration-color: var(--accent-color);
  color: var(--light-text);
}

a.btn,
button.btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-image: linear-gradient(to right, #2C3E50 0%, var(--secondary-color) 51%, #2C3E50 100%);
  transition: 2s ease-in-out;
  box-shadow: 0 0 1.2rem var(--background-color);
}

a.btn:hover,
button.btn:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
  background-image: linear-gradient(to right, #2C3E50 0%, var(--button-hover) 51%, #2C3E50 100%);
  background-position: right center;
  box-shadow: 0 0 2.5rem var(--background-color);
}

/* Style the Font Awesome hamburger icon */
.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler i {
  color: var(--light-text);
  font-size: 1.5em;
}

/* Override Bootstrap focus state box-shadow */
button.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--light-text);
}

div.bg-custom {
  background: var(--background-color) url("../images/rainbow-watercolour.png") fixed;
  background-size: cover;
}

.members {
  color: var(--primary-color);
  font-weight: 600;
}

.bg-card {
  background-color: var(--background-color);
}

.text-justify-custom {
  text-align: justify;
}

div.card.text-white {
  align-items: center;
  color: var(--dark-text);
}

.custom-text {
  color: var(--dark-text);
  font-weight: 700;
  font-size: 90%;
  letter-spacing: 0.3em;
  border-radius: 0.25rem;
}

div.card-footer.custom-footer {
  background-image: linear-gradient(140deg, #fcf6e6 0%, #06968578 15%, #6e2170c4 60%, #e09101bd 80%, #db1304eb 100%);
}

.about-us {
  background: linear-gradient(to right, #6E2170, #01556b, #E09101, #E5E5E5, #050505, #355FAA);
}
/* Footer custom styles */

.custom-footer-pt-4 {
  padding: 0.5rem 0;
}

.footer .custom-icon-gap,
.footer .custom-icon-gap i {
  transition: color 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.footer .custom-icon-gap:hover,
.footer .custom-icon-gap:hover i {
  color: var(--light-text);
}


.footer .custom-icon-gap {
  margin: 0 4rem;
}

/* General styles for icons in the footer */
footer a i.fab {
  padding: 0.25rem;
  color: var(--dark-text);
}

footer a i:hover {
  color: var(--light-text);
}

/* Styles for icon buttons */
a.btn.icon {
  background-color: var(--background-color);
  border: 1px solid transparent;
  color: var(--dark-text);
  background-image: none;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a.btn.icon:hover {
  background-image: linear-gradient(to right, #2C3E50 0%, var(--button-hover) 51%, #2C3E50 100%);
  box-shadow: 0 0 40px #eee;
  border: 1px solid transparent;
}

.custom-social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

footer p,
.custom-footer-text {
  color: var(--light-text);
}

footer.text-center {
  background-color: var(--navigation);
}

/* Footer link styles */
.custom-footer-text {
  color: var(--light-text);
  text-decoration: none;
  font-weight: bolder;
  line-height: 2em;
}

.custom-footer-text:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.27em;
  text-decoration-thickness: 0.2em;
  color: var(--light-text);
}

/* Media queries */
@media (min-width: 1200px) {

  .h2,
  h2 {
    font-size: 1.7rem;
  }

  body {
    min-height: 100dvh;
    padding-top: 56px;
  }
}