{% load static %}
<!-- Footer -->
<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container custom-footer-pt-4">
                <!-- Copyright -->
                <div class="text-center mt-0">
                    <a class="custom-footer-text" href="{% url 'home' %}">Inclusive Spots</a>
                    <p class="mb-0">Project created for Code Institute's July 2024 Hackathon</p>
                    <p class="mb-0">For educational purposes only</p>
                </div>
                <!-- Copyright -->
        <!-- Section: Social media -->
        <section class="custom-gap mb-0 mt-1">
            <!-- Github -->
            <a data-mdb-ripple-init class="custom-icon-gap icon btn btn-floating text-white m-1 ms-1"
                href="https://github.com/VCGithubCode/prideful-programmers" target="_blank" role="button"><i
                    class="fab fa-github"></i></a>

            <!-- Facebook -->
            <a data-mdb-ripple-init class="custom-icon-gap icon btn btn-floating text-body m-1 ms-1" href="https://www.facebook.com/"
                target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a data-mdb-ripple-init class="custom-icon-gap icon btn btn-floating text-body m-1 ms-1" href="https://www.instagram.com/"
                target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

            <!-- Twitter -->
            <a data-mdb-ripple-init class="custom-icon-gap icon btn btn-floating text-body m-1 ms-1" href="https://twitter.com/" target="_blank"
                role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
</footer>