{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container mt-3 min-vh-100">
    <div class="container">
        <img src="https://tinyurl.com/yc5z69ws" alt="Everyboy say love" class="w-100" height="500px">
        <h1 class="mt-5">Who We Are</h1>
        <p><strong>Inclusive Spots - is a dedicated app that curates a comprehensive 
            list of safe spaces for the LGBTQIA+ community. </strong></p>
        
        <p>This platform provides easy access to LGBTQIA+ friendly cafes, clubs, 
            bars, and support centers, ensuring that community members can find 
            and enjoy welcoming and inclusive environments. </p>

        <p>With detailed listings, interactive maps, and user reviews, Inclusive Spots 
            creates a reliable resource that fosters connection, safety, and support for
            LGBTQIA+ individuals everywhere. </p>

        <p>We aspire to be the leading global resource for the LGBTQIA+ 
            community, offering trusted, up-to-date information on safe spaces where 
            every individual can feel accepted, respected, and celebrated. </p>

        <p>Inclusive Spots envisions a world where LGBTQIA+ individuals can freely 
            explore and engage with their communities without fear, knowing they have 
            access to safe, inclusive, and supportive environments.</p>
      </div>

</div>

{% endblock %}