{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inclusive Spots</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Fontawesome - Script -->
    <script src="https://kit.fontawesome.com/c3c0f5e49e.js" crossorigin="anonymous">
    </script>

    <!-- Bootstrap CSS - Link (Critical CSS) -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
        {% block extra_css %}
        {% endblock %}

  </head>
  <body>
    {% include 'includes/header.html' %}
    <main>
      {% block content %} 
      {% endblock content %}
    </main>
    {% include 'includes/footer.html' %}
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'></script>
    <script defer src="index.js"></script>
  </body>
</html>